<html>
    <head>
        <title>Reset Password Request</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static',filename='font-awesome.min.css')}}"/>
    </head>
    <body>
            <div class="navigation">
                    <div class="row">
                        <img src="../static/images/Tec_logo.jpg" class="logo">
                    </div>
            </div>
           
        <div class="container-fluid">
            <div class="row mainpanel">
                <form class="form">
                    <img src="{{url_for('static',filename='images/user.jpg')}}" alt="logo-icon" class="userlogo">
                    <h4 id="errormsg">Reset Password form</h4>
                    <span id="userid" class="hidden">{{user_id}}</span>
                    <div class="form-group">
                        <span class="fa fa-lock addon"></span>
                        <input type="password" placeholder="New Password" class="form-control" id="txtpassword">
                    </div>
                    <div class="form-group">
                        <span class="fa fa-unlock addon"></span>
                        <input type="password" placeholder="Confirm Password" class="form-control" id="txtconfirmpassword">
                    </div>
                    <button type="button" class="btn btn-success" id="btnreset" style="font-size:16px;font-weight:bold;font-style:italic">
                       Reset Password
                    </button>
                        
                </form>
            </div>
            <div class="message-con container-fluid" id="message-con">
                <div class="message" id="message">
                    <input type="button" value="X" class="btnclosemsg" id="btnclosemsg">
                    <h5 id="title" class="msgtitle"></h5>
                    <p id="messagefield"></p>
                    <div class="btn-group" id="buttons" style="display:none">
                        <input type="button" value="Delete" class="btn btn-danger" id="btndelete">
                        <input type="button" value="Cancel" class="btn btn-success" id="btncancel">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" id="footer">@ Timbertec Limited Copy Right 2020</div>
        <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
        <script src="{{url_for('static',filename='timbertec.js')}}"></script>
        <script src="{{url_for('static',filename='reset_password.js')}}"></script>
    </body>
</html>