<html>

<head>
    <title>TIMBERTEC LIMITED WORKSHOP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='workshop.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='font-awesome.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='animate.min.css')}}" /> 
</head> 

<body>       
    <div class="navigation">
        <div class="row">
            <img src="static/images/Tec_logo.jpg" class="Tec logo">
        </div>
                
        <nav class="navbar navbar-inverse" role="navigation">
                <a class="navbar-brand" href="#" style="background-color: black ;color:rgb(12, 158, 202);font-size:calc(8px + 1vw);">Our Workshop</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                 </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="/" class="nav-link" style="color:white">PRODUCTS</a></li>
                    <li class="nav-item"><a href="services" class="nav-link" style="color:white">SERVICES</a></li>
                    <li class="nav-item"><a href="workshop" class="nav-link active" style="color:white" >WORKSHOP</a></li>
                    <li class="navi-item"><a href="about" class="nav-link" style="color:white">ABOUT</a></li>
            </div>
        </nav>
    </div>
   
    <div class="detailscon row" id="itemcon">  
        <div class="col-sm-12 col-sm-4 pics">
                <div class="about animate__animated animate__fadeInLeftBig " data-wow-delay="2s" data-wow-duration="2s ">
            <img src="../static/images/workshop/3.jpg" class="image" title="click to enlarge">
            <p class="description">Get your timber smoothened and ready to use as you purchase them from our shop, only at a small price.</p>
        </div></div>
        <div class="col-sm-12 col-sm-4 pics">
                <div class="about animate__animated animate__fadeInDownBig " data-wow-delay="3s" data-wow-duration="3s ">
            <img src="../static/images/workshop/4.jpg" class="image" title="click to enlarge">
            <p class="description">High quality machines in our workshop</p>
        </div></div>
        <div class="col-sm-12 col-sm-4 pics">    
             <div class="about animate__animated animate__fadeInRightBig " data-wow-delay="4s" data-wow-duration="4s ">
            <img src="../static/images/workshop/5.jpg" class="image" title="click to enlarge">
            <p class="description">
                Wooden beams in our workshop which we use to curve and design most of our products. We have timber readily availlable both soft and hardwood.
                The timber is availlable in all sizes e.g 6x1, 4x1, 3x2, 2x2 etc.
            </p>
        </div> </div>
        <div class="col-sm-12 col-sm-6 pics">
            <div class="about animate__animated animate__fadeInRightBig " data-wow-delay="4s" data-wow-duration="4s ">
            <img src="../static/images/workshop/1.jpg" class="image" title="click to enlarge">
            <p class="description">
                This is a color mixer in our workshop to ensure our customers have a wide variety of colors to choose from. Pick any color of your choice we mix it for you.
            </p>
        </div> </div>
        <div class="col-sm-12 col-sm-6 pics">
            <img src="../static/images/workshop/2.jpg" class="image" title="click to enlarge">
            <p class="description">This is one of our models for the gypsum ceilings, contact us for more designs at discounted prices.</p>
        </div>
        <div class="col-sm-12 col-sm-6 pics">
            <img src="../static/images/workshop/6.jpg" class="image" title="click to enlarge">
            <p class="description">Machines are here to make work easier and to ensure we offer required services.</p>
        </div> 
        <div class="col-sm-12 col-sm-6 pics">
            <img src="../static/images/workshop/7.jpg" class="image" title="click to enlarge">
            <p class="description">If what you need in your home is a modern wooden floor from some of the best wood species we've got you covered. Here we have wooden panels which you use in designing and developing your floors to perfection.
            </p>
        </div>
        <div class="col-sm-12 col-sm-6 pics">
            <img src="../static/images/workshop/8.jpg" class="image" title="click to enlarge">
            <p class="description">Various colours from different wood species to choose from for your wooden floor.</p>
        </div>
        <div class="col-sm-12 col-sm-5 pics">
            <img src="../static/images/workshop/9.jpg" class="image" title="click to enlarge">
            <p class="description">Wooden poles for fencing and use in construction sites are availlable, from trees such as bluegum, cypress with their sizes starting from 7 to 10 feet.</p>
        </div>
        <!-- <div class="col-sm-12 col-sm-3 pics">
            <img src="../static/images/workshop/11.jpg" class="image" title="click to enlarge">
            <p class="description">We have different types of boards, from mdfs, plywoods, and flower boards for the ceiling.</p>
        </div> -->
       
        <div class="col-sm-12 col-sm-2 pics">
            <img src="../static/images/workshop/12.jpg" class="image" title="click to enlarge">
            <p class="description">Door frames are availlable as you purchase your doors.</p>
        </div>
        <div class="col-sm-12 col-sm-5 pics">
            <img src="../static/images/workshop/10.jpg" class="image" title="click to enlarge">
            <p class="description">Finished school lockers, only awaiting to be screwed to their stands.</p>
        </div>
        <div class="col-sm-12 col-sm-7 pics">
            <img src="../static/images/workshop/13.jpg" class="image" title="click to enlarge">
            <p class="description">Metallic stands for school desks are in ample supply to ensure we cater for your orders.</p>
        </div>
        <div class="col-sm-12 col-sm-3 pics">
            <img src="../static/images/workshop/14.jpg" class="image" title="click to enlarge">
            <p class="description">School desk and chair designed and developed in our workshop, contact us to make your orders.</p>
        </div>
        <div   class="col-sm-12 col-sm-6 pics" >
            <img src="../static/images/workshop/15.jpg" class="image" title="click to enlarge">
            <p style="display:block;text-align:left" class="description">Our craftsman doing final touches on some of the interior doors.</p>
        </div>
        <div class="col-sm-12 col-sm-3 pics">
            <img src="../static/images/workshop/16.jpg" class="image" title="click to enlarge">
            <p class="description">A fully finished 3 panel door that is locally made in our workshop.</p>
        </div>
        <div class="col-sm-12 col-sm-4 pics">
            <img src="../static/images/workshop/17.jpg" class="image" title="click to enlarge">
            <p class="description">Timber is in high stock, from various wood species like the mahogany cypress, pine, cedar etc.</p>
        </div>
        <div class="col-sm-12 col-sm-4 pics">
            <img src="../static/images/workshop/18.jpg" class="image" title="click to enlarge">
            <p class="description">Make your orders we'll deliver to your door step only at a small fee</p>
        </div>
        <div class="col-sm-12 col-sm-4 pics">
            <img src="../static/images/workshop/19.jpg" class="image" title="click to enlarge">
            <p class="description">Sawdust is availlable to use either with livestock or as cooking fuel,sales are made per suck</p>
        </div>
        <!-- <div class="col-sm-12 col-sm-4 pics">
            <img src="../static/images/workshop/20.jpg" class="image" title="click to enlarge">
            <p class="description">description</p>
        </div> -->
        <!-- <div class="col-sm-12 col-sm-4 pics">
            <img src="../static/images/workshop/21.jpg" class="image" title="click to enlarge">
            <p class="description">description</p>
        </div> -->
        <div class="col-sm-12 col-sm-4 pics">
            <img src="../static/images/workshop/22.jpg" class="image" title="click to enlarge">
            <p class="description">Our craftsmen making final touches on some of the school lockers and the panel doors.</p>
        </div>
        <div class="col-sm-12 col-sm-4 pics"> 
            <img src="../static/images/workshop/23.jpg" class="image" title="click to enlarge">
            <p class="description">After making your purchase of timber or any of our boards, you can have them cut into required pieces to ease your work.</p> 
        </div>
        <div class="col-sm-12 col-sm-4 pics">
            <img src="../static/images/workshop/27.jpg" class="image" title="click to enlarge">
            <p class="description">New model machines which are way better in precision and help to ensure minimal waste saving on your timber.</p>
        </div>
        <!-- <div class="col-sm-12 col-sm-6 pics">
            <img src="../static/images/workshop/24.jpg" class="image" title="click to enlarge">
            <p class="description">description</p>
        </div> -->
        
        <!-- <div class="col-sm-12 col-sm-5 pics">
            <img src="../static/images/workshop/26.jpg" class="image" title="click to enlarge">
            <p class="description">description</p>
        </div> -->
        <!-- <div class="col-sm-12 col-sm-6 pics">
            <img src="../static/images/workshop/25.jpg" class="image" title="click to enlarge">
            <p class="description">description</p>
        </div> -->
        
    </div>

    <div class="container-fliud row fullimg hidden" id="fullimg"> 
        <div class="view col-sm-12 col-sm-7" id="view">
            <img src="" alt="hover image" id="image" style="height: 70vh;">
        </div>
        <p id="description" class="col-sm-12 col-sm-5" style="padding-top: 8%;">description</p>
        <input type="button" value="X" class="btnclose" id="btnclose"> 
    </div>   
    <div class="footer1" id="footer">@ Timbertec Limited Copy Right 2020</div>
    <script src="{{url_for('static',filename='workshop.js')}}"></script> 
    <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
</body>

</html>